# shell
alias ls="exa"
alias l="ls -l"
alias ll="ls -la --group-directories-first"
alias rm="rm -f"

# git
alias gdc="git diff --cached"

# npm
alias npmi="npm i"
alias npmis="npm i && npm start"
alias npms="npm start"
alias npmu="npm uninstall"
alias npmid="npm install -D"
alias npmh="npm home"
alias npmig="npm i -g"

# fzf
alias fzfh="find * -type f | fzf" # fzf including hidden files

# spotlight
alias sl="mdfind"
alias play="afplay"

# clean up Downloads folder
alias dl="cd ~/Downloads; mkdir $(echo `date +%Y-%m-%d`); mv  ./^$_  $_"
